[Unit]
Description=Duc2Mqtt export values from Bastec2 duc to MQTT
After=network.target

[Service]
ExecStart=/path/to/duc2mqtt
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target